
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
a {
    text-decoration: none;
    color: black;
}
.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.nombre-sitio {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.nav-principal {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categorias h2 {
    text-align: center;
}

.categoria a{
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover{
    background-color: #037bc0;
    color: white;
    border-bottom-right-radius: 10px ;
}

