html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 2;
}

/* Globales */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

/* Utilidades */
.btn {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
}

.btn:hover {
    background-color: #769c02;
}
.text-center {
    text-align: center;
}

header {
    font-size: 4rem;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.nav-principal {
    padding: 2rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 55rem;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categorias {
    padding-top: 5rem;
}

.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037bc0;
    color: white;
    border-bottom-right-radius: 1rem;
}

/* bloque nosotros */
.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 100rem;
}

.sobre-nosotros-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
}

.texto-nosotros {
    color: white;
    grid-column: 2 / 3;
}

.contenido-principal {
    padding-top: 5rem;
}

.listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}
.productos:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.productos:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}
.productos:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}
.productos:nth-child(2) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.productos:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}
.productos:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.productos:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}
.productos:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}
.productos:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}
.productos {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem 0;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.productos img:hover {
    transform: scale();
}
/* Footer */
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-footer h3 {
    margin-bottom: .5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
